@charset "ISO-8859-1";
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
.container_style{
	background-color: #105469;
}
